<nav class="navbar navbar-expand-lg navbar-light bg-beige">
  <!-- Navbar content -->

  <img src="assets/images/logo-smartcommerce.png" height="30" class="navbar-header d-inline-block align-top">

  <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
    aria-controls="collapse">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="collapse" [ngbCollapse]="isCollapsed">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item ml-3">
        <a class="nav-link" [routerLink]="['/home/stoppages']" i18n="">Downtime causes</a>
      </li>
      <li class="nav-item ml-3">
        <a class="nav-link" [routerLink]="['/home/reports']"
          i18n="Reports's component title in nav bar@@reportsTitleNav">Reports</a>
      </li>
      <li class="nav-item ml-3">
        <a class="nav-link" [routerLink]="['/home/effectiveness']" i18n="">OLE</a>
      </li>
    </ul>

    <form class="my-2 my-lg-0">
      <button class="btn btn-outline-success my-2 my-sm-0" (click)="logout()" type="submit"
        i18n="Log out button@@logOutBtn">
        Log out
      </button>
    </form>

  </div>

</nav>
