<swal #noDataAlert title="No shift data found" type="info" [showCancelButton]="false" timer="1200">
</swal>

<swal #savedAlert title="Saved" type="success" [showCancelButton]="false" timer="1200">
</swal>

<swal #errorAlert title="Error" type="error" [showCancelButton]="false" timer="1200">
</swal>

<div class="container text-white">

  <h2 class="display-4 mt-4 mb-4" i18n="@@dt_header">Overall Line Effectiveness (OLE)</h2>
  <p>OLE measures manufacturing productivity per production line.
    It identifies the percentage of manufacturing time that is truly productive and it is measured in the bottleneck of
    each line.
    Its calculation is based on the three factors:
    <strong>availability, performance and quality.</strong>
  </p>
  <p>Select a line and a shift to calculate OLE.</p>

  <!--Filters-->
  <div [formGroup]="filterForm" class="d-inline">

    <select formControlName="line" class="custom-select custom-select-md d-inline-block mr-3 w-auto">
      <option value="" selected hidden disabled i18n="@@dt_sel_line">Select line</option>
      <option *ngFor="let line of lines$ | async" [ngValue]="line">{{line.name}}</option>
    </select>

    <div class="d-inline-block mr-3">
      <div class="input-group">
        <input type="text" class="form-control" ngbDatepicker #d="ngbDatepicker" (dateSelect)="setSelectedDate($event)"
          placeholder="AAAA-MM-DD" />
        <div class="input-group-append">
          <button class="btn bg-secondary" (click)="d.toggle()"><fa-icon [icon]="faCalendar" style="color: beige"></fa-icon></button>
        </div>
      </div>
    </div>

    <select formControlName="assignment" class="custom-select custom-select-md d-inline-block mr-3 w-auto"
      (change)="setSelectedShift()">
      <option value="" selected hidden disabled i18n="@@dt_sel_line">Select shift</option>
      <option *ngFor="let assignment of assignments" [ngValue]="assignment">{{assignment}}</option>
    </select>

    <button class="btn bg-light mr-2" (click)="getOLE()"><fa-icon [icon]="faSearch" style="color: mediumseagreen"></fa-icon></button>

    <button class="btn bg-light" (click)="saveEffectiveness()"><fa-icon [icon]="faSave" style="color: mediumseagreen"></fa-icon></button>
  </div>

  <div class="row mt-5">
    <div class="col">
      <app-gauge *ngIf="ole" [value]="ole" [label]="'OLE'" [size]="350"></app-gauge>
    </div>
    <div class="col">
      <div>
        <strong>Scheduled time: {{scheduledTime}} h</strong>
      </div>
      <div>
        <strong>Available time: {{availableTime | number: "1.1-2" }} h</strong>
      </div>
      <app-gauge *ngIf="availability" [value]="availability" [label]="'Availability'" [size]="200"></app-gauge>
    </div>
    <div class="col">
      <strong>Expected production: {{expectedProduction}}</strong>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="productionLabel">Real production</span>
        </div>
        <input type="number" class="form-control" name="productionInput" id="productionInput" placeholder="0"
          aria-describedby="productionLabel" [(ngModel)]="realProduction">
      </div>
      <app-gauge *ngIf="performance" [value]="performance" [label]="'Performance'" [size]="200"></app-gauge>
    </div>
    <div class="col">
      <strong>-</strong>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="saleablePartsLabel">Saleable parts</span>
        </div>
        <input type="number" class="form-control" name="saleablePartsInput" id="saleablePartsInput" placeholder="0"
          aria-describedby="saleablePartsLabel" [(ngModel)]="saleableParts">
      </div>
      <app-gauge *ngIf="quality" [value]="quality" [label]="'Quality'" [size]="200"></app-gauge>
    </div>
  </div>

</div>
