<div class="img-bg" style="height: 100%">
  <div class="text-center login-body">

    <h1 class="h1 mb-1 text-white display-4" i18n="App title@@appTitle">Downtime management</h1>

    <form [formGroup]="loginForm" class="form-signin">
      <h1 class="h3 mb-3 font-weight-normal text-white" i18n="Login title@@loginTitle">Log in</h1>
      <label for="inputUsername" class="sr-only" i18n="Username field@@usernameField">Username</label>
      <input name="username" formControlName="username" (change)="toggleFail()" type="text" id="inputUsername"
        class="form-control" placeholder-i18n="Username field@@usernameField" placeholder="Username">
      <label for="inputPassword" class="sr-only" i18n="Password field@@passwordField">Password</label>
      <input name="password" formControlName="password" (change)="toggleFail()" type="password"
        id="inputPassword" class="form-control" placeholder-i18n="Password field@@passwordField" placeholder="Password">
      <div class="checkbox mb-3">
        <!--label>
          <input type="checkbox" value="remember-me"> Recordar
        </label-->
        <div *ngIf="auth_failed" class="alert alert-danger">
          <strong i18n="Error word | word at the beginning of the login error message@@errorWord">Error!</strong>
          <ng-container i18n="Login error message@@loginErrorMessage">The session could not be started.</ng-container>
        </div>
      </div>
      <button (click)="login()" class="btn btn-lg btn-primary btn-block" type="submit"
        i18n="Login button@@loginBtn">OK</button>
    </form>

    <img class="mx-auto d-block" height="70" src="assets/images/deviceWISE.png">

  </div>
</div>
