<!-- <app-navbar></app-navbar> -->
  <div class="container">
    <h2 class="text-white display-4 mt-4 mb-4" i18n="@@dt_header">Allocation of downtime causes</h2>

    <div [formGroup]="filterForm" class="d-inline">

      <select formControlName="line" class="custom-select custom-select-md d-inline-block mr-3 w-auto">
        <option value="" selected hidden disabled i18n="@@dt_sel_line">Select line</option>
        <option *ngFor="let line of lines$ | async" [ngValue]="line">{{line.name}}</option>
      </select>

      <select formControlName="shift" class="custom-select custom-select-md d-inline-block mr-3 w-auto">
        <option value="" selected hidden disabled i18n="@@dt_sel_shift">Select shift</option>
        <option *ngFor="let shift of shifts$ | async" [ngValue]="shift">
          {{shift.assignment}} - {{shift.start | date }}
        </option>
      </select>

    </div>

    <swal #confirmAlert title="Saved" type="success" timer="1200">
    </swal>

    <div *ngIf="stoppages$ | async as stoppages">

      <ng-container *ngIf="stoppages.length !== 0; else noData">
        <div class="mt-4 mb-4">
          <h5 class="text-white float-left" i18n="@@dt_txt_found">Found stoppages</h5>
          <button (click)="getStoppages()" class="btn btn-md btn-primary d-inline float-right"
            i18n="@@dt_btn_refresh">Refresh</button>
        </div>
        <table name="stops_table" class="table table-hover table-light">
          <thead class="thead-light">
            <tr>
              <th scope="col" i18n="@@dt_th_start">Start time</th>
              <th scope="col" i18n="@@dt_th_end">End time</th>
              <th scope="col" i18n="@@dt_th_duration">Duration (min)</th>
              <th scope="col" i18n="@@dt_th_cause">Cause</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let s of stoppages; let i = index">
              <ng-container *ngIf="causes$ | async as causes">
                <td>{{ s.start | date : "HH:mm:ss" }}</td>
                <td>{{ s.end | date : "HH:mm:ss" }}</td>
                <td>{{ s.duration | number: "1.1-2" }}</td>
                <td class="form-group">
                  <select class="form-control" [(ngModel)]="stoppages[i].cause" (change)="updateStoppageCause(i)"
                    name="causes">
                    <option *ngFor="let c of causes" [ngValue]="c.id">
                      {{c.code}} - {{ c.description }}
                    </option>
                  </select>
                </td>
              </ng-container>
            </tr>
          </tbody>
        </table>
      </ng-container>

      <ng-template #noData>
        <div class="alert alert-info mt-4">
          <strong i18n="@@info">Information: </strong>
          <ng-container i18n="@@dt_txt_notfound">No stoppages found.</ng-container>
        </div>
      </ng-template>

    </div>

  </div>
