<ng-container [formGroup]="filterForm">
  <div class="container p-3">
    <div class="input-group">
      <div class="input-group-prepend">
        <h4 class="input-group-text" i18n="@@rep_label_filterduration">Filter by duration</h4>
        <select formControlName="operator" class="custom-select">
          <option *ngFor="let operator of operators | keyvalue" [ngValue]="operator.value.symbol">
            {{ operator.value.meaning }}
          </option>
        </select>
        <input formControlName="operand" class="form-control" type="number">
        <h5 class="input-group-text" i18n="@@minutes">minutes.</h5>
      </div>
    </div>
  </div>

  <div class="container p-3">
    <h4 class="input-group-text" i18n="@@rep_label_filterdate">Filter by date</h4>
    <div class="row">
      <div class="col-sm-6">
        <ngb-datepicker #dp class="bg-white" (select)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t">
        </ngb-datepicker>

        <ng-template #t let-date="date" let-focused="focused">
          <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
            [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
            (mouseleave)="hoveredDate = null">
            {{ date.day }}
          </span>
        </ng-template>
      </div>
      <div class="col-sm-6">
        <div style="display: block">
          <canvas baseChart [data]="shiftPercentages" [labels]="shiftLabels" [chartType]="'doughnut'">
          </canvas>
        </div>
      </div>
    </div>
  </div>

</ng-container>

<ng-container *ngIf="stoppages$ | async as stoppages">
  <div class="container">
    <div class="alert alert-info" role="alert" *ngIf="stoppages && stoppages.length > 0; else noStoppages">
      <p class="mb-0">
        <strong i18n="@@info">Information: </strong>
        <ng-container i18n="@@rep_txt_found">{{ stoppages.length }} stoppages found.</ng-container>
      </p>
    </div>
    <ng-template #noStoppages>
      <div class="alert alert-info" role="alert">
        <p class="mb-0">
          <ng-container i18n="@@rep_txt_notfound">No stoppages found.</ng-container>
        </p>
      </div>
    </ng-template>
  </div>
  <div *ngIf="stoppages && stoppages.length > 0">
    <div class="container p-3">
      <table class="table table-hover table-light">
        <thead class="thead-light">
          <tr>
            <th scope="col" i18n="@@rep_th_start">Start time</th>
            <th scope="col" i18n="@@rep_th_end">End time</th>
            <th scope="col" i18n="@@rep_th_duration">Duration (min)</th>
            <th scope="col" i18n="@@rep_th_cause">Cause</th>
            <th scope="col" i18n="@@rep_th_shift">Shift</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let stoppage of stoppages">
            <td>{{ stoppage.start | date:'short' }}</td>
            <td>{{ stoppage.end | date:'short' }}</td>
            <td>{{ stoppage.duration | number: "1.1-2"}}</td>
            <td>{{ stoppage.description !== 'NULL'? stoppage.description : 'N/A' }}</td>
            <td>{{ stoppage.shift }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-container>
