/* You can add global styles to this file, and also import other style files */

body {
  height: 100%;
  background: url("assets/images/background-industrial-machinery.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html {
  height: 100%;
}

label{
    color: whitesmoke;
}

.text-white   {
  color: whitesmoke;
}
